#!/bin/bash
SNAP_DIR="/.snapshots"
HOST="{{ inventory_hostname }}"
DEST="/srv/dev-disk-by-uuid-c1739375-47b6-4818-80ec-5048a25ecc0a/btrfs-backups/$HOST"

LATEST=$(ls -1 $SNAP_DIR | sort | tail -n1)
PREVIOUS=$(ls -1 $SNAP_DIR | sort | tail -n2 | head -n1)

if [ -z "$LATEST" ]; then
  echo "No snapshots"
  exit 1
fi

if [ -z "$PREVIOUS" ]; then
  echo "Full send"
  btrfs send "$SNAP_DIR/$LATEST" | ssh darthv@openmediavault "sudo btrfs receive $DEST"
else
  echo "Incremental send"
  btrfs send -p "$SNAP_DIR/$PREVIOUS" "$SNAP_DIR/$LATEST" | \
  ssh darthv@openmediavault "sudo btrfs receive $DEST"
fi

