<domain type='kvm'>
  <name>{{ vm.name }}</name>

  <memory unit='MiB'>2048</memory>
  <vcpu>2</vcpu>

  <os>
    <type arch='x86_64' machine='pc'>hvm</type>
    <boot dev='hd'/>
  </os>

  <features>
    <acpi/>
    <apic/>
  </features>

  <cpu mode='host-model'/>

  <devices>
    <disk type='file' device='disk'>
      <driver name='qemu' type='qcow2'/>
      <source file='/var/lib/libvirt/images/{{ vm.name }}.qcow2'/>
      <target dev='vda' bus='virtio'/>
    </disk>

    <disk type='file' device='cdrom'>
      <driver name='qemu' type='raw'/>
      <source file='/var/lib/libvirt/seed/{{ vm.name }}.iso'/>
      <target dev='sda' bus='sata'/>
      <readonly/>
    </disk>

    <interface type='bridge'>
      <mac address='{{ vm.mac }}'/>
      <source bridge='br0'/>
      <model type='virtio'/>
    </interface>

    <graphics type='vnc' port='-1'/>

    <console type='pty'/>
  </devices>
</domain>

